// _sass/custom/_styles.scss

// Style for H1 in the DEFAULT (light) theme only
body:not(.theme--dark) {
  h1 {
    color: #191970; // You can use the CSS keyword 'midnightblue' or its hex code #191970
  }
}