// _sass/custom/_variables.scss

// // Override link colors to make them black
// $link-color: #000 !default; // Default link color (black)
// // $link-color: #DC143C;
// $link-color-hover: #333 !default; // Color when hovering over a link (optional, a dark grey is common)
// // $link-color-hover: #000 !default; // Use this if you want them to remain black even on hover


// _sass/custom/_variables.scss

// Set default (light theme) link color to Navy Blue
$link-color: #000080 !default; // Using the CSS keyword 'navy blue' or its hex code ##000080
$link-color-hover: darken(#000080, 15%) !default; // A darker shade of navy blue on hover
$link-color-visited: darken(#000080, 10%); // Slightly darker blue for visited links

// You can also adjust the visited link color if you like for the light theme:
// a:visited {
//   color: darken(#000080, 10%) !default; // A slightly darker navy blue for visited links
// }
