---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/default",
    "theme/dark",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands",
    "vendor/magnific-popup/magnific-popup"
;
// <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

// _sass/custom/_variables.scss

// Set default (light theme) link color to Midnight Blue
$link-color: #191970 !default; // Using the CSS keyword 'midnightblue' or its hex code #191970
$link-color-hover: darken(#191970, 15%) !default; // A darker shade of midnight blue on hover

// You can also adjust the visited link color if you like for the light theme:
// a:visited {
//   color: darken(#191970, 10%) !default; // A slightly darker midnight blue for visited links
// }
// a {
//   color: #191970; /* For standard links */
// }
// // 
// // a:visited {
// //   color: #191970; /* Optional: For visited links, if you want them the same */
// // }
// // 
// a:hover {
//   /* Optional: Define a hover color if desired, e.g., a darker midnight blue */
//   color: darken(#191970, 15%);
// }
// // 
// // a:active {
// //   /* Optional: Define an active (on click) color if desired */
// //   color: #800020;
// // }

